h1{
    color: blueviolet
}


    div{
    background-color: cadetblue;
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 20px;

    
}

span{
    color: red;
    font-size: xx-large;

}